doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Application
  link(rel="stylesheet" href="/styles/styles.css")
body
  #app
    .alert.info info
    .alert.warning warning
    .alert.error error
    .alert.success success
  script(src="/scripts/app.js")
